<div>
  <div class="container p-4">
    <div class="row">
      <div class="col-md-9 mx-auto">
        <div class="card" >
          <form (submit)="onSubmit($event,titulo,isbn, primerautor, segundoautor, tercerautor, fechapublicacion, editorial, genero, paginas,descripcion)">
            <div class="form-group p-2 ">
              <input type="text" class="form-control" placeholder="Título" #titulo> <br>
              <input type="number" class="form-control" placeholder="ISBN" #isbn> <br>
              <input type="text" class="form-control" placeholder="Primer autor" #primerautor> <br>
              <input type="text" class="form-control" placeholder="Segundo autor" #segundoautor> <br>
              <input type="text" class="form-control" placeholder="Tercer autor" #tercerautor> <br>
              <input type="date" class="form-control" placeholder="Fecha de publicacion" #fechapublicacion> <br>
              <input type="text" class="form-control" placeholder="Editorial" #editorial> <br>
              <input type="text" class="form-control" placeholder="Genero" #genero> <br>
              <input type="number" class="form-control" placeholder="Paginas" #paginas> <br>
              <textarea class="form-control" placeholder="Campo adicional" cols="30" rows="10" #descripcion></textarea> <br>


              <button type="submit" class="btn btn-primary">Agregar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
