<br>
<div class="container">
  <div class="row">
    <div class="col">


      <!-- <div class="form-group">
          <input
          type="text"
          class="form-control"
          name="searchTerm"
          placeholder="Buscar editorial..."
          [(ngModel)]="searchTerm"
          (ngModelChange)="filter($event)"
        >
      </div>
      <br><br>

      <div class="form-group">
        <input
        type="text"
        class="form-control"
        name="searchTitulo"
        placeholder="Buscar titulo..."
        [(ngModel)]="searchTitulo"
        (ngModelChange)="filterTitulo($event)"
      >
    </div>
    <br><br> -->

      <!-- <button id="dropdownHoverButton" data-dropdown-toggle="dropdownHover" data-dropdown-trigger="hover" class=" button-spacing bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-md text-xs px-3 py-1.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">
        Genero
        <svg class="w-2 h-2 ms-2 svg-icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
        </svg>
      </button>


      <div id="dropdownHover" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
          <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownHoverButton">
            <li>
              <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Accion</a>
            </li>
            <li>
              <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Terror</a>
            </li>
            <li>
              <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Fantasia</a>
            </li>
            <li>
              <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Comedia</a>
            </li>
          </ul>
      </div>


      <button id="dropdownHoverButton" data-dropdown-toggle="dropdownHoverEditorial" data-dropdown-trigger="hover" class=" button-spacing text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-md text-xs px-3 py-1.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">
        Editorial
        <svg class="w-2 h-2 ms-2 svg-icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
        </svg>
      </button>


      <div id="dropdownHoverEditorial" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
          <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownHoverButton">
            <li>
              <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Gente nueva</a>
            </li>
            <li>
              <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Fruta</a>
            </li>
            <li>
              <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Fruta 2</a>
            </li>
            <li>
              <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Fruta 3</a>
            </li>
          </ul>
      </div> -->

      <p>Buscar por...</p>
<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree custom-tree">
  <!-- Template para nodos hoja -->
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
    <span (click)="onNodeClick($event, node)" style="cursor:pointer;">
      {{node.name}}
    </span>
  </mat-tree-node>
  <!-- Template para nodos expandibles -->
  <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild" [class.mat-tree-node-expanded]="treeControl.isExpanded(node)">
    <div class="mat-tree-node">
      <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
        <mat-icon class="mat-icon-rtl-mirror">
          {{treeControl.isExpanded(node)? 'expand_more' : 'chevron_right'}}
        </mat-icon>
      </button>
      <span (click)="onNodeClick($event, node)" style="cursor:pointer;">
        {{node.name}}
      </span>
    </div>
    <div [class.example-tree-invisible]="treeControl.isExpanded(node)" role="group">
      <ng-container matTreeNodeOutlet></ng-container>
    </div>
  </mat-nested-tree-node>
</mat-tree>

    </div>
  </div> <br><br>
  <div class="row">
    <div class="col">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Título</th>
            <th scope="col">ISBN</th>
            <th scope="col">Primer autor</th>
            <th scope="col">Segundo autor</th>
            <th scope="col">Tercer autor</th>
            <th scope="col">Fecha de publicacion</th>
            <th scope="col">Editorial</th>
            <th scope="col">Genero</th>
            <th scope="col">Paginas</th>
            <th scope="col">Campo adicional</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let libro of displayedLibros">
            <td>{{libro.titulo}}</td>
            <td>{{libro.isbn}}</td>
            <td>{{libro.primerautor}}</td>
            <td>{{libro.segundoautor}}</td>
            <td>{{libro.tercerautor}}</td>
            <td>{{libro.fechapublicacion}}</td>
            <td>{{libro.editorial}}</td>
            <td>{{libro.genero}}</td>
            <td>{{libro.paginas}}</td>
            <td>{{libro.descripcion}}</td>
          </tr>

        </tbody>


      </table>
    </div>
  </div>


  <div class="pagination-controls">
    <div class="page-size-options">
      <label for="pageSize">Libros por página:</label>
      <select id="pageSize" [(ngModel)]="pageSize" (change)="changePageSize(pageSize)">
        <option *ngFor="let size of pageSizeOptions" [value]="size">{{size}}</option>
      </select>
    </div>
    <div class="pagination-buttons">
      <button (click)="goToPage(0)" [disabled]="currentPage === 0">&laquo;</button>
      <button (click)="previousPage()" [disabled]="currentPage === 0">&lt;</button>
      <span>Pagina {{currentPage + 1}} of {{totalPages()}}</span>
      <button (click)="nextPage()" [disabled]="currentPage >= totalPages() - 1"> &gt;</button>
      <button (click)="goToPage(totalPages() - 1)" [disabled]="currentPage >= totalPages() - 1"> &raquo;</button>
    </div>
  </div>
