<div class="container p-4">
  <div class="row">
    <div class="col-md-10 mx-auto">
    <div class="card mb-2">
      <div class="card-header d-flex justify-content-between align-items-center">
        {{libros?.titulo}}
        <div>
          <button class="btn btn-primary" (click)="openDialog(libros!)" >Show</button>
          <button class="btn btn-danger" (click)="deleteLibro(libros!)">Delete</button>
          <button class="btn btn-success" (click)="openEditDialog(libros!)">Editar</button>
        </div>

      </div>

      <div class="card-body" [hidden]="libros?.hide" >
          <span>ISBN: {{libros?.isbn}}</span> <br>
          <span>Primer autor: {{libros?.primerautor}}</span> <br>
          <span>Segundo autor: {{libros?.segundoautor}}</span> <br>
          <span>Tercer autor: {{libros?.tercerautor}}</span> <br>
          <span>Fecha de publicacion: {{libros?.fechapublicacion}}</span> <br>
          <span>Editorial: {{libros?.editorial}}</span> <br>
          <span>Genero: {{libros?.genero}}</span> <br>
          <span>Paginas: {{libros?.paginas}}</span> <br>
          <span>Campo adicional: {{libros?.descripcion}}</span> <br>
      </div>

    </div>
    </div>
  </div>
</div>
