<h2 mat-dialog-title>{{data.titulo}}</h2>

<mat-dialog-content class="mat-typography">
  <span>ISBN: {{data.isbn}}</span> <br>
  <span>Primer autor: {{data.primerautor}}</span> <br>
  <span>Segundo autor: {{data.segundoautor}}</span> <br>
  <span>Tercer autor: {{data.tercerautor}}</span> <br>
  <span>Fecha de publicacion: {{data.fechapublicacion}}</span> <br>
  <span>Editorial: {{data.editorial}}</span> <br>
  <span>Genero: {{data.genero}}</span> <br>
  <span>Paginas: {{data.paginas}}</span> <br>
  <span>Campo adicional: {{data.descripcion}}</span> <br>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cerrar</button>
</mat-dialog-actions>

